footer {
	display: block;
	height: 120px;
	background-color: var(--main-footer-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_copyright {	
	font-size: 14px;
	color: var(--main-footer-text-color);
}

.footer_logo {
	text-decoration: none;
}

.footer_logo::after {
	content: "";
	border-left: 1px solid var(--main-footer-text-color);
	height: 10px;
	margin: 0 6px;
}