.header {
	height: 120px;
	background: var(--main-header-bg-color);
}

.header_container {	
	height: 100%;	
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.logo {
	height: 67px;
	width: 230px;
	padding: 26px 0;
	display: inline-block;
	justify-content: center;	
	text-decoration: none;	
}

.logo_big_text {
	width: 58px;
	height: 100%;
	font-weight: bold;
	font-size: 40px;
	line-height: 31px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--main-white-color);
	background: url(../images/header/logo_hexagon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.logo_text {	
	width: 134px;
	height: 46px;
	display: inline-flex;
	font-size: 32px;
	color: var(--main-white-color);
}

.logo_text_bold {	
	font-weight: 700;
}

.header_menu {
	position: relative;
	width: 630px;
}

.header_menu_list {
	height: 100%;
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.header_menu_item a {
	font-weight: bold;
	font-size: 16px;	
	text-transform: uppercase;
	text-decoration: none;
	color: var(--main-header-menu-text-color);
	padding: 48px 0;
	margin-right: 21px;
}

.header_menu_item a:hover {
	color: var(--main-active-color);
	border-bottom: 3px solid var(--main-active-color);	
}

.search_btn {
	display: block;
	padding: 10px;
	width: 21px;
	height: 20px;	
	background: url(../images/header/search_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 50px;
	right: 0px;
}

.search_btn:hover{
	width: 26px;
	height: 25px;
	transition: 0.1s;	
}

input {
	height: 20px;
	width: 200px;
	outline: 0 !important; /* удалить черную рамку у input при фокусе */
} 

.search_container {	
	display: inline-flex;
	position: absolute;
	top: 49px;
	left: 800px;	
	opacity: 0;	
}

.search_container_appearance {	
	opacity: 1;	
	transition: 1s;
	left: 650px;
}


