.news {	
	height: max-content;
	display: flex;
	justify-content: center;	
}

.news_block{
	margin-top: 90px;
	margin-bottom: 143px;
}

.grid_container {	
	width: 100%;	
	display: grid;	
	grid-template-columns: auto auto auto auto; 
	grid-column-gap: 35px;
	grid-row-gap: 56px;
}

.grid_item {
	display: block;
	width: 100%;	
	text-decoration: none;
	position: relative;	
}

.grid_item:hover .picture_title {
	color: var(--main-active-color);
}

.grid_item:hover .date_stiker {
	background-color: var(--main-active-color);
}


.grid_img {
	display: block;
	width: 100%;
	height: 208px;
}

.date_stiker {
	width: 66px;
	height: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 16px;
	color: var(--main-white-color);
	line-height: 25px;
	background-color: var(--main-passive-color);
	transition: 0.3s;
}

.picture_title_content {
	display: block;
	margin: 17px 0 0 20px;	
}

.picture_title {	
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s;
	color: var(--main-tabs-title-color);
}

.picture_admin_title {
	display: block;	
	font-size: 14px;
	margin-top: 20px;
	color: var(--main-description-text-color);
}

.title_comments::before {
	content: " | ";
	font-size: 16px;
	padding: 0 17px;
}