.purchase {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 476px;	
	background: url(../images/purchase/purchase_bg.png);
	background-repeat: no-repeat;
	background-size: cover;	;
	text-align: center;	
}

.purchase_wrapper {
	margin-top: 127px;
}

.purchase_wrapper button {
	margin: 90px auto 0 auto;
}

.purchase_title {
	
	font-weight: bold;
	font-size: 40px;	
	text-transform: uppercase;
}

.purchase_description {
	margin-top: 32px;
	font-size: 16px;
	color: var(--main-purchase-description-text-color);
}
