
.slider__container {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

.slider__thumbnails {
	display: flex;
	justify-content: space-between;
	width: 430px;
	margin: 0 auto 10px auto;
}

.slider__thumbnails-item {
	display: block;
	line-height: 0;
	max-width: 60px;
	max-height: 60px;
	/* opacity: 0.5; */
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	transition: 0.15s opacity ease-in-out;	
	box-shadow: 0px 0px 0px 4px var(--main-avatar-shadow-color);
}

.slider__thumbnails-item.active {
	opacity: 1;
	margin-top: -28px;
}

.slider__thumbnails-item:hover {
	opacity: 1;
}

.slider__thumbnails-item_img {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider__indicator {
	display: none;
}

.slider__indicator_active {
	display: block;		
}

.speakers {
	display: flex;
	justify-content: center;
}

.speakers_conttent {
	display: block;
	width: 100%;   
}

.speaker_avatar {
	height: 143px;
	width: 143px;	
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	box-shadow: 0px 0px 0px 10px var(--main-avatar-shadow-color);
}

.speaker_image1 {	
	background-image: url(../images/say_about/speaker1.jpg);
}
.speaker_image2 {	
	background-image: url(../images/say_about/speaker2.jpg);
}
.speaker_image3 {	
	background-image: url(../images/say_about/speaker3.jpg);
}
.speaker_image4 {	
	background-image: url(../images/say_about/speaker4.jpg);
}