.say_about_section {	
	display: flex;
	justify-content: center;
	width: 100%;	
	background: url(../images/say_about/say_about_bg_img.png);
	background-repeat: no-repeat;
	background-size: cover;	
}

.say_about_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
	user-select: none;
}

.say_about_block {
	display: block;
	width: 100%;
	height: max-content;
}

.quotes_text {	
	text-align: center;	
	line-height: 30px;
	font-size: 16px;	
	color: var(--main-say-about-text-color);
}

.quotes_text::before {
	content: "";
	display: block;
	margin: 0 auto 36px auto;
	width: 47px;
	height: 33px;
	background: url(../images/say_about/quotes_img.svg);
	background-repeat: no-repeat;	
}

.speakers_name {
	display: block;
	width: max-content;
	margin: 37px auto;
	font-weight: bold;
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
}

.speakers_position {
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	text-transform: initial;
	color: var(--main-say-about-text-color);
}