.service {
	height: 560px;	
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.service_container {
	height: 375px;
	position: relative;	
}

.service_tabs {
	width: 100%;
	height: 73px;
	display: flex;	
}

.service_tabs_title {
	flex-grow: 1;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: var(--main-tabs-title-color);
	background: var(--main-service-tabs-bg-color);
	outline: 1px solid var(--main-service-tabs-outline-color);
	cursor: pointer;
}

.service_tabs_title:hover {
	outline: 1.5px solid var(--main-active-color); 
	z-index: 1;
	transition: 0.3s;
}

.with_triangle::after {
	content: "";
	position: absolute;
	top: 100%;
	border-style: solid;
	border-width: 12px 11.5px 0 11.5px;
	border-color: var(--main-active-color) transparent transparent transparent;	
}

.service_tabs_content li {
	display: none;
}

.service_tabs_content li{
	height: 140px;
	margin-top: 23px;
}

.service_tabs_content img {
	height: 100%;
	width: 192px;
	display: inline-block;	
}

.service_tabs_content p {
	width: calc(100% - 209px);	
	height: 136px;
	display: inline-block;
	padding-left: 15px;
	margin-left: -4px;
	overflow: hidden;
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;	
	color: var(--main-description-text-color);
}