
/* стили для корневого элемента слайдера */
.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%; 
  margin: 0 auto; 
}

/* стили для wrapper */
.slider__wrapper {  
  height: 220px;
  position: relative;
  overflow: hidden; 
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

/* класс для отключения transition */
.transition-none {
  transition: none;
}

/* стили для элементов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: max-content;
  position: relative;
}

/* кнопки Prev и Next */
.slider__control {
  position: absolute;
  top: 93%;
  width: 31px;
  height: 31px;
  transform: translateY(-50%); 
  align-items: center;
  justify-content: center;  
  border: 1px solid var(--main-white-color);
  opacity: 0.5;
  user-select: none;  
}

.slider__control_show {
  display: flex;
}

.slider__control:hover {	
  text-decoration: none;
  background-color: var(--main-active-color); 
  border: 1px solid var(--main-active-color);
  opacity: 1;
}

.slider__control_prev {
  left: 314px;
}

.slider__control_next {
  right: 314px;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;  
}

.slider__control_prev::before {
	background-image: url(../images/say_about/errow_left.svg); 
}

.slider__control_next::before {
   background-image: url(../images/say_about/errow_right.svg); 
}
