.squares_option {
	display: flex;
	width: 100vw;
	height: 360px;
	margin-top: 8px;
}

.square_item {
	height: 100%;
	width: 25%;
	display: grid;
	align-items: flex-end;	
}

.squares_img {
	display: block;
	transform: scale(1.04, 1.04);
	margin: 85px auto 0 auto;	
}

.square_description {	
	width: max-content;	
	margin: 48px auto 103px auto;	
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

