 @import "header.css";
 @import "title_page.css";
 @import "squares_option.css";
 @import "service.css";
 @import "purchase.css";
 @import "work.css";
 @import "spinner.css";
 @import "news.css";
 @import "say_about.css";
 @import "say_about_slider.css";
 @import "footer.css";

:root {	
	--main-header-bg-color: rgba(94, 93, 88, 0.6);
	--main-white-color: #FFFFFF;
	--main-active-color: #18CFAB;
	--main-passive-color: #203E38;
	--main-blue-color: #00CBF6;
	--main-black-color: #1C2A33;
	--main-header-menu-text-color: rgba(255, 255, 255, 0.6);
	--main-title-color: #4E4E4E;
	--main-title-text-feature-color: #D4D4D4;
	--main-tabs-title-color: #717171;
	--main-service-tabs-bg-color: #F8FCFE;
	--main-service-tabs-outline-color: #EDEFEF;	
	--main-description-text-color: #777777;
	--main-purchase-description-text-color: #D8D8D8;
	--main-work-bg-color: #E9EDEF;
	--main-work-tabs-border-color: #DADADA;
	--main-work-tabs-content-color: #8A8A8A;	
	--main-say-about-text-color: #BBBBBB;
	--main-avatar-shadow-color: rgb(31, 218, 181, .2);	
	--main-footer-bg-color: #22353F;
	--main-footer-text-color: #AEAEAE;}

body {
	font-family: 'Montserrat', sans-serif;	
}

.content_widht {
	width: 1160px;
}


li.content_active {
	display: block;	
}

.content_d_none {
	display: none;	
}

.active_bg {
	background-color: var(--main-active-color);
	color: var(--main-white-color);	
}


.blue_bg {
	background-color: var(--main-blue-color);
}

.black_bg {
	background-color: var(--main-black-color);	
}

.block_title {
	
	width: max-content;	
	position: relative;
	font-size: 36px;
	margin: 0 auto 100px auto;
	color: var(--main-title-color);
}

.text_white_color {
	color: var(--main-white-color);
}

.text_active_color {
	color: var(--main-active-color);
}

.block_title::before {
	content: "";	
	width: 76px;
	position: absolute;
	top: 63px;
	left: calc(50% - 44px);
	border-bottom: 1px solid var(--main-active-color);
}
.block_title::after {
	content: "";	
	width: 76px;
	position: absolute;
	top: 67px;
	left: calc(50% - 32px);
	border-bottom: 1px solid var(--main-active-color);
}

.btn {
	width: 170px;
	height: 63px;
	font-size: 15px;
	font-weight: bold;	
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--main-white-color);
	cursor: pointer; 
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	position: relative;	
	transition: all 0.3s ease-in-out;
}

.btn_top_border {
	box-shadow:  0 -5px 0  0 var(--main-white-color);
}

.btn_icon::before {
	content: "+";
	font-size: 35px;
	font-weight: bold;
	color: var(--main-white-color);
	position: absolute;
	top: 13px;
	left: 20px;	
}

.btn:hover {
	transform: scale(105%);
	opacity: 0.8;
}
.btn:focus {
	background-color: var(--main-passive-color);	
}

.btn_icon {
	padding-left: 41px;	
}


