.title_page {
	width: 100%;
	height: 1012px;
	background: url(../images/title/title_bg.png);
	background-repeat: no-repeat;
	background-size: cover;	
	background-attachment: fixed;
}

.title_block {	
	margin: 246px auto;
	color: var(--main-white-color);	
	text-align: center;
	text-transform: uppercase;
}

.title_text_small {
	font-weight: bold;
	font-size: 35px;	
	
}

.title_text_dig {
	font-weight: bold;
	font-size: 78px;	
	margin-top: 25px;	
}

.title_text_feature {	
	font-size: 34px;	
	color: var(--main-title-text-feature-color);
	text-transform: initial;
	margin: 25px 0 134px 0;	
}

.title_btn {
	width: 365px;	
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

