.work {	
	display: flex;
	justify-content: center;
	background: var(--main-work-bg-color);
}

.work_container {	
	margin-top: 95px;	
	margin-bottom: 100px;
	
}

.work_container button {
	display: block;
	margin: 0 auto;	
}

.work_tabs{
	width: 587px;
	height: 67px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 70px;		
}

.work_tabs_title {
	flex-grow: 1;
	height: 100%;
	width: min-content;	
	display: flex;	
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: var(--main-tabs-title-color);
	background: var(--main-work-bg-color); /* вынужденно поставил background, что бы наложились outline-ы по горизонтали  */
	outline: 1px solid var(--main-work-tabs-border-color);
	cursor: pointer;	
}

.work_tabs_title:last-child {
	border-right: none;
}

.active_tab {
	outline: 1.5px solid var(--main-active-color);	
	z-index: 1;
	transition: .3s;	
	outline-offset: -0.5px;	
}

.work_tabs_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.d-contents {
	display: contents;
}

.tabs_item {
	display: none;
	width: 25%;
	max-height: 208px;
	position: relative;
	cursor: pointer;	
}

.item_image {
	width: 100%;
	height: 100%;
}

.tabs_content_upper_layer {
	opacity: 0;	
	width: 100%;
	border-top: 3px solid var(--main-active-color);
	position: absolute;
	top: 0;
}

.tabs_upper_layer_icon {
	width: 88px;
	height: 43px;
	margin: 46px auto 0 auto;
	background: url(../images/work/hover_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;	
}

.tabs_upper_layer_title {
	width: fit-content;	
	font-weight: bold;
	font-size: 14px;
	margin: 40px auto 0 auto;	
	text-transform: uppercase;
}

.tabs_content_upper_layer h3 {
	width: fit-content;
	margin: 12px auto 0 auto;
	font-weight: 300;
	font-size: 12px;
	color: var(--main-work-tabs-content-color);
}

.tabs_item:hover .tabs_content_upper_layer{
	opacity: 1;
	transition: 0.3s;	
}

.tabs_item:hover .item_image {
	opacity: 0;
	transition: 0.3s;
}
